* {
  font-family: 'Montserrat', sans-serif;
}

.incomeExpense {
  display: flex;
  justify-content: space-around;
}

.total {
  display: flex;
  flex-direction: column;
}

.positive {
  color: green;
}

.negative {
  color: red;
}